body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.modal {
  background-color: $backgroundGrey;
}

.title {
  color: #FFF !important;
}

.bar-stable .button {
 color: #FFF !important;
}
