/***************************************/
/* Login Page */
/***************************************/

.login {
  background: url(../img/coffee_bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    text-align: center;
    margin-top: 49%;
    color: #FFF;
    font-size: 40px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
  }

  .button-positive {
    background-color: $lightBlue;
  }
}
